@import "@fortawesome/fontawesome-free/css/all.css";

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root, body {
    font-family: "poppins", sans-serif!important;
}

.bg-main {
    background-color: #47a3ff;
}

body {
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    height: fit-content;
    background-color: rgb(243, 244, 246);
}

a {
    text-decoration: none!important;
}

td, th {
    padding: 1em;
}

li a{
    color: #000;
    font-weight: 500;
}

li.active, li.active a {
    color: #47a3ff;
    position: relative;
    font-weight: 600;
}

li.active:after {
    content: '';
    position: absolute;
    background-color: #47a3ff;
    right: -3px;
    top: 0;
    height: 100%;
    width: 5px;
    border-radius: 20%

}

.btn-primary {
    background-color: #2C8FF2!important;
    color: #FFF!important;
    font-weight: 500!important;
}

.btn-primary:hover {
    background-color: #2472c1!important;
    color: #FFF!important;
}

.btn-secondary {
    background-color: #3E557E!important;
    color: #FFF!important;
    font-weight: 500!important;
}

.btn-secondary:hover {
    background-color: #5471A2!important;
    color: #FFF!important;
}

.btn-remove {
    background-color: #FE556C!important;
    color: #FFF!important;
    font-weight: 500!important;
}

.btn-remove:hover {
    background-color: #d13f53!important;
    color: #FFF!important;
}

.btn.big {
    padding: 1em 3em;
}

header {
    height: 500px;
    margin-bottom: -5vw;
    position: relative;
}

header#trip-page {
    height: 300px;
}

.banner-image {
    height: 1000px;
    top: -70%;
    width: 100%;
}

.main-background {
    background-color: #47A3FF;
}

nav {
    color: #FFF;
    position: relative;
    z-index: 10;
}

footer {
    background-color: #47A3FF;
    color: #FFF;
}

footer a {
    color: #FFF;
}

.footer-extend {
    background-color: #2C8FF2;
    color: #FFF;
}

.footer-extend a {
    margin-right: 2rem;
}

.logo {
    display: inline-block;
}

nav a, nav button {
    color: #FFF;
    font-weight: 600;
    font-size: 15px;
}

.dropdown-content {
    width: 200px;
    height: fit-content;
    padding: 1em;
    background-color: #FFF;
    color: #000;
    text-align: center;
}

.dropdown-content h4 {
    font-weight: 300;
    font-size: 15px;
}

.dropdown-content a{
    color: #000;
    font-weight: 400;
    font-size: 15px;
}

.dropdown-content button {
    font-weight: 300;
    font-size: 12px;
}

.about-container {
    padding: 4rem 0;
}

.about-container:first-child {
    padding-top: 8rem;
}

.about-container:last-child {
    padding-bottom: 8rem;
}

.contact-info {
    background-color: #e9eff5;
}

.socials i {
    font-size: 20px;
    margin-right: 1em;
}

label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: .3em;
}

[type='text'], [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select {
    width: 100%;
    padding: .5em 1em;
    border-radius: .2rem;
    border: none;
}

input[type="submit"] {
    display: block;
    width: fit-content;
    background-color: #2C8FF2;
    padding: 1em 2em;
    border-radius: .6rem;
    color: #FFF;
    font-weight: 500;
}

select {
    display: block;
    width: 100%;
    background-color: #F9F9FE;
    padding: .5em 1em;
    border: none!important;
    border-right: 1em solid transparent;
}

.image-container {
    position: relative;
    display: block;
    min-height: 200px;
    overflow: hidden;
}

.image-container img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
}

.text-shadow-black {
    text-shadow: 1px 1px 5px rgb(0 0 0 / 85%)
}

#side-nav {
    transition: 0.5s;
}

@media only screen and (max-width: 1024px) {
    #side-nav.mobile-open {
        z-index: 1;
        width: 200px;
        transition: 0.5s;
    }

    .mobile-open .sidenav-links {
        transform-origin: 0% 50%;
        animation: transformer 0.25s ease-in 0s 1;
    }

    .sidenav-links.hidden {
        animation-direction: reverse;
        animation: transformer 0.25s ease-in 0s 1;
    }
    
    .mobile-open ul li a{
        justify-content: flex-start;
        padding-left: 2rem;
    }
}

@keyframes transformer {
    from {
        transform: scaleX(0.1);
    }
    to {
        transform: scaleX(1);
    }
}

.text-shadow {
    text-shadow: 0 2px 4px rgba(0,0,0,0.10);
  }

  .text-shadow-md {
    text-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.08);
    backdrop-filter: blur(10px) saturate(70%);
  }

  .text-shadow-lg {
    text-shadow: 0 15px 30px rgba(0,0,0,0.11), 0 5px 15px rgba(0,0,0,0.08);
  }

  .text-shadow-none {
    text-shadow: none;
  }